/* resset default properties */

body{
    margin: 0px;
}

/* genetral properties */
body{
    font-family: poppins;
    font-size: 15px;
    margin: 15px;
}
/* navbar_properties */
#navbar{
    border:0 ;
    padding: 15px 15px;
}
.navbar_container{
    border:0 ;
    display: flex;
    justify-content:space-between;
}
.navbar_logo{
    border:0
   
}
.navbar_nav{
    border: 0
}
.navbar_action{
   border:0 ;
}
.navbar_nav ul{
    display: flex;
}
.navbar_nav ul li{
   
    list-style: none;
    margin: 0px 20px;
}